{% load static %}
<!DOCTYPE html>

<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap-5.1.3/bootstrap.min.css">
    <title>OIDC Test Provider {% block head_title %}{% endblock %}</title>
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="/">OIDC Test Provider</a>
              {% if request.user.is_authenticated %}
                <ul class="navbar-nav me-auto">
                  <li class="nav-item"><a class="nav-link" href="/account/logout/">Logout</a></li>
                </ul>
                <span class="nav-text">Welcome {{ user.email }}!</span>
              {% else %}
                <ul class="navbar-nav me-auto">
                  <li class="nav-item"><a class="nav-link" href="/account/login/">Log in</a></li>
                  <li class="nav-item"><a class="nav-link" href="/account/signup/">Sign up</a></li>
                </ul>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <main class="flex-shrink-0">
      <div class="container">
{% block body %}
{% endblock %}
      </div>
    </main>

    <footer class="footer mt-auto">
      <div class="container bg-light py-3">
        <small>
          OIDC Test Provider /
          <a href="https://github.com/mozilla/docker-test-mozilla-django-oidc/">docker-test-mozilla-django-oidc</a> /
          <a href="https://github.com/mozilla/docker-test-mozilla-django-oidc/issues">issues</a>
        </small>
      </div>
    </footer>
  </body>
</html>
