# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: mozilla/cidockerbases:docker-latest
    working_directory: /

    steps:
      - run:
          name: Get info
          command: uname -v

      - setup_remote_docker

      - run:
          name: Get info 
          command: docker info

      - run:
          name: Install essential packages
          command: apt-get install make

      - checkout:
          path: /oidc_testprovider

      - run:
          name: Build Docker images
          working_directory: /oidc_testprovider
          command: |
            make build

      - run:
          name: Push to Dockerhub on tag
          working_directory: /oidc_testprovider
          command: |
            function retry {
              set +e
              local n=0
              local max=3
              while true; do
              "$@" && break || {
                if [[ $n -lt $max ]]; then
                  ((n++))
                  echo "Command failed. Attempt $n/$max:"
                else
                  echo "Failed after $n attempts."
                  exit 1
                fi
              }
              done
              set -e
            }

            export NAMESPACE=mozilla
            export IMAGES=(oidc_e2e_setup_py2 oidc_e2e_setup_py3 oidc_testprovider oidc_testrp_py2 oidc_testrp_py3 oidc_testrunner)

            # If a tag was pushed to github, push tagged images and latest
            # images to Dockerhub
            if [ -n "${CIRCLE_TAG}" ]; then
              # Log into Dockerhub
              echo "${DOCKER_PASSWORD}" | docker login -u="${DOCKER_USERNAME}" --password-stdin

              for IMAGE in $IMAGES
              do
                # Tag and push tagged image.
                retry docker tag "${IMAGE}:latest" "${NAMESPACE}/${IMAGE}:${CIRCLE_TAG}"
                retry docker push "${NAMESPACE}/${IMAGE}:${CIRCLE_TAG}"

                # Tag and push latest image.
                retry docker tag "${IMAGE}:latest" "${NAMESPACE}/${IMAGE}:latest"
                retry docker push "${NAMESPACE}/${IMAGE}:latest"
              done
            fi

workflows:
  version: 2

  # workflow jobs are _not_ run in tag builds by default
  # we use filters to whitelist jobs that should be run for tags

  # workflow jobs are run in _all_ branch builds by default
  # we use filters to blacklist jobs that shouldn't be run for a branch

  # see: https://circleci.com/docs/2.0/workflows/#git-tag-job-execution

  build-test-push:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
